USE {{ vault_mysql_user }};
ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ vault_mysql_root_password }}';
FLUSH PRIVILEGES;
CREATE DATABASE if NOT EXISTS {{ vault_mysql_user }};
GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' IDENTIFIED BY '{{ vault_mysql_root_password }}';
FLUSH PRIVILEGES;
CREATE USER IF NOT EXISTS '{{ vault_mysql_user }}'@'%' IDENTIFIED BY '{{ vault_mysql_user_password }}';
GRANT ALL PRIVILEGES ON {{ vault_mysql_database }}.* TO '{{ vault_mysql_user }}'@'%';
FLUSH PRIVILEGES;
